.skeleton {
  background-color: 'grey';
  animation: pulse 2s linear;
}

.variantText {
  height: 1rem;
  border-radius: 3px;
}

.variantCircle {
  border-radius: 100%;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}