.button {
  border-radius: 4px;
  padding: .5rem;
  font-size: 1.2rem;
  border: none;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    background-color: rgb(152, 152, 152);
    color: rgb(226, 226, 226);
  }
}

.variantOutlined {
  border: 2px solid grey;

  &:hover:not(:disabled) {
    background-color: lightblue;
    border-color: rgb(84, 164, 191);
  }
}

.variantContained {
  background: rgb(0, 127, 255);
  color: white;

  &:hover:not(:disabled) {
    background-color: rgb(34, 144, 254);
  }
}